



html {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
} 
 
body {
  background-color: #ffffff;
  font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #373b4d;
  font-weight: 400;
}

/*------------------------------------------*/
/*	PAGE CONTENT
/*------------------------------------------*/

#page { overflow: hidden; }

.bg--fixed,
.bg--scroll {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;   
  background-size: cover;
}

.bg--scroll {
  background-attachment: fixed!important;
}

/*------------------------------------------*/
/*  HEADERS
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {  
  color: #363636;
  font-family: 'Vollkorn', serif;
  letter-spacing: 0;
  letter-spacing: -0.75px;
  font-weight: 400;
  margin-bottom: 0;
}

p.tra-link {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

p.tra-link {
  color: #363636; 
  position: relative;
  margin-top: 40px;
  padding-bottom: 10px;
  text-decoration: none;
}

p.tra-link:after {
  content: '';
  background-color: #363636;
  height: 2px;
  width: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.select_link:hover .tra-link {
  color: #363636!important;
}

.select_link:hover p.tra-link:after {
  width: 60%;
}

/*------------------------------------------*/
/*  CONTENT
/*------------------------------------------*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a:hover {
  color: #444;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

.img-fluid {
  display: inline-block;
  
  
}

.btn {
  background-color: transparent;
  font-size: 0.85rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.8rem;
  border: 1.5px solid transparent;
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  -o-border-radius: 0; 
  border-radius: 0;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; 
}

.btn:focus {
  color: #fff; 
  -webkit-box-shadow: none;
  box-shadow: none; 
}

/*------------------------------------------*/
/*  Primary Color Button
/*------------------------------------------*/

.btn--black,
.hover--black:hover {
  color: #fff!important;
  background-color: #262b2f!important;
  border-color: #262b2f!important;
}

.btn--tra-black,
.hover--tra-black:hover,
.scroll .hover--tra-black:hover, 
.white-scroll .scroll .hover--tra-black:hover,
.black-scroll .scroll .hover--tra-black:hover {
  color: #262b2f!important;
  background-color:transparent!important;
  border-color: #262b2f!important;
}

.btn--white,
.hover--white:hover {
  color: #363636!important;
  background-color: #fff!important;
  border-color: #fff!important;
}

.btn--tra-white,
.hover--tra-white:hover {
  color: #fff!important;
  background-color: transparent!important;
  border-color: #fff!important;
}

.white-scroll .scroll .hover--tra-white:hover {
  color: #363636!important;
  background-color: transparent!important;
  border-color: #363636!important;
}

.white-scroll .scroll .hover--white:hover {
  color: #fff!important;
  background-color: #262b2f!important;
  border-color: #262b2f!important;
}

.btn--theme, 
.scroll .btn--theme, 
.hover--theme:hover, 
.scroll .hover--theme:hover, 
.color--white .hover--theme:hover,
.white-scroll .scroll .hover--theme:hover {
  color: #fff!important;
  background-color: #e55d42!important;
  border-color: #e55d42!important;
}

.btn--tra-theme, 
.hover--tra-theme:hover,
.scroll .btn--tra-theme, 
.color--white .hover--tra-theme:hover,
.white-scroll .scroll .hover--tra-theme:hover {
  color: #E55D42!important;
  background-color: transparent!important;
  border-color: #E55D42!important;
}

/*------------------------------------------*/
/* main */
/*------------------------------------------*/
#main{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans";
  height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
}



#main{
  background-image: url(./../images/icons/safar\ logo\ removed\ background.png);
  /* background-position-y: ; */
  background-size: 55vh;
  background-repeat: no-repeat;
  background-position: center;
  

}

#nav{
  color: black;
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 150px;
}

#nav-2{
  /* text-decoration: none; */
  margin: 0;
  font: bold 45px/1.4 'Open Sans', arial, sans-serif;
  background: #FFF;
  display: flex;
  gap :55px;
}
.link-underline-light{
  margin: 0;
  font: bold 20px/1.4 'Open Sans', arial, sans-serif;
  background: #FFF;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.link-underline-light:hover{
  color: black;
}
.link-underline-light:after {  
    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link-underline-light:hover:after { 
  color: black;
  width: 100%; 
  left: 0; 
}
#nav-3{
  display: flex;
  gap :55px;
  align-items: center;
}

img{
  height: 60px;
  /* mix-blend-mode: difference; */
}
#nav button{
  background-color: white;
  color: black;
  padding: 18px 25px ;
  font-weight: 700;
  font-size: 16px;
  border: none;
}
#main h1 {
  font-size: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 80px;
  margin-top: 50vh;
  color: purple;
}
#main h1 span{
  background-color: #E55D42;
  font-family:  Times, serif;
  border-radius:150px;
  padding:0px 60px;  ;
  font-size: 25px;
  margin: 0 30px;
  /* justify-content: center; */
}

#main h1:nth-child(2){
  /* color: red; */
  margin-top: 60px ;
}

 #left-img{
  height: 400px;
  width: 250px;
  position: absolute;
  top:2%;
  left : 6%;
  border-radius: 30px;
} 
#right-img{
  height: 400px;
  width: 250px;
  position: absolute;
  top:4%;
  right : 6%;
  border-radius: 30px;
 
}

h5{
  font-size: 25px;
  position: absolute;
  transform: translate(-50%,0);
  top: 10%;
  left: 50%;
}
i{
  font-size: 25px;
  margin: 30px 5px;
  left : 10%;
  padding : 20px 5px;
  display: flex;
}
#footer{
  padding-bottom: 10px;
}




/*------------------------------------------*/
/*  SECTION TITLE    
/*------------------------------------------*/







.section-id {
  display: block;
  color: #e55d42;
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 500; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  margin-bottom: 20px;  
}

.section-title {
  text-align: center;
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 3.85rem; 
}

.section-title p {
  color: #6f6f6f;
  font-size: 1.35rem;
  padding: 0 12%;
  margin: 18px 0 0;
}

.color--white, 
.color--white h2, 
.color--white h3, 
.color--white h4, 
.color--white h5, 
.color--white h6, 
.color--white p, 
.color--white a, 
.color--white li, 
.color--white i, 
.color--white span {
  color: #fff!important;
}

/*------------------------------------------*/
/*  PRELOAD SPINNER   
/*------------------------------------------*/

/* # Portfolio */
/* --------------------------------------------------------------*/ */
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}



#loading {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  z-index: 999999;
}

#loading { 
  background-color: #f9efed;
}

#loading-center {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  height: 100px;
  width: 100px;
  -webkit-animation: loading-center-absolute 1s infinite;
  animation: loading-center-absolute 1s infinite;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #f29180 #f29180 transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #f29180 #f29180;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*------------------------------------------*/
/*  HERO    
/*------------------------------------------*/

#hero {
  /* Set the background image */
  background-image: url("./../images/logo\ safar.png");
  /* Adjust the image size to cover the entire section */
  background-size:contain;
  /* Center the image horizontally and vertically */
  background-position: center;
  /* Set a specific height (adjust as needed) */
  height: 100vh; /* 100% of viewport height */
  /* Other styling properties (color, font, etc.) can be added here */
}
#hero::before {
  content: ""; /* Pseudo-element content */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(216, 192, 192, 0.126); /* Semi-transparent black overlay */
  /* Adjust opacity (0.5 in this example) */
}

.hero-txt {
  /* Add any additional styling for the text content */
  /* text-align: center; */
  color: black;
  /* Other text styles can be customized here */
}


.hero-txt .section-id {
  font-size: 1rem; 
  margin-bottom: 20px;  
}

.hero-txt h3 {
  font-family: 'Alex Brush', cursive;
  line-height: 0.9;
  font-size: 6.5rem;
  opacity: .45;
  margin-bottom: -50px!important;
}

.hero-txt h2 { 
  font-size: 5.25rem;
  margin-bottom: 10px;
}

.hero-txt p {
  color: #6f6f6f;
  font-size: 1.35rem; 
  font-weight: 400;
  padding: 0 8%;
  margin-bottom: 34px;
}

/*------------------------------------------*/
/*  SELECT    
/*------------------------------------------*/

#select,
#i-pages {   
  position: relative; 
  padding-top: 120px;
  padding-bottom: 60px;
  z-index: 3;
}
.img-fluid{
  height: 800px;


}
#select .col,
#i-pages .col {
  position: relative;
  z-index: 3;
  margin-bottom: 50px;
  text-align: center;
}

.hover-overlay {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 3px 21px 0 rgb(0 0 0 / 7%);
  box-shadow: 0 3px 21px 0 rgb(0 0 0 / 7%);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; 
}

.hover-overlay:hover {
  top: -12px;
}

/*------------------------------------------*/
/*  BANNER
/*------------------------------------------*/

#banner-1 {
  position: relative;
}

#banner-1 .container:after {
  background-color: #fff;
  position: absolute;
  content: '';
  width: 85%;
  height: 100%;
  top: 0;
  left: 15%;
  z-index: -1;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .06);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .06);
}

.banner-2-wrapper {
  background-image: url(../images/banner-2.jpg);
  padding: 90px 15%;
}

.banner-1-txt {
  padding: 20px 0;
}

.banner-1-txt h2 {
  font-size: 2.95rem;
  margin-bottom: 35px;
}

.banner-2-txt h2 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}

.banner-1-txt p {
  color: #6f6f6f;
  font-size: 1.35rem;  
  margin-bottom: 30px;
}

.banner-2-txt p {
  font-size: 1.5rem;  
  padding: 0 10%;
  margin-bottom: 30px;
}

.banner-1-img { 
  margin: 100px 0;
  padding-right: 35px;
}

/*------------------------------------------*/
/*  FOOTER  
/*------------------------------------------*/   

.footer {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 1;
}

.footer p {
  color: #363636; 
  font-size: 1.35rem; 
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 0px;
}

/*------------------------------------------*/
/*  SCROLL TO TOP 
/*------------------------------------------*/ 

#scrollUp {
  display: none;
  width: 44px;
  height: 44px;
  position: fixed;
  bottom: 30px;
  right: 25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: url(../images/icons/back-to-top.png);
  background-repeat: no-repeat;
  background-position: 50% 48%;
  background-color: rgba(10, 10, 10, .25);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; 
}

#scrollUp:hover {
  background-color: rgba(0, 0, 0, .4);
}

nav a#pull {  
  display: none;  
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .section-title h2 { font-size: 3.75rem; }
  .section-title p { font-size: 1.35rem; padding: 0 5%; margin: 16px 0 0; }

  #hero { padding: 140px 12% 120px; }
  .hero-txt h3 { font-size: 6rem; margin-bottom: -50px!important; }
  .hero-txt h2 { font-size: 4.85rem; margin-bottom: 5px; }
  .hero-txt p { font-size: 1.35rem; padding: 0 2%;margin-bottom: 32px; }

 

  #select, #i-pages { padding-top: 100px; padding-bottom: 40px; }

  .banner-2-wrapper { padding: 80px 15%; }

  .banner-1-txt h2 { font-size: 3.3rem; margin-bottom: 10px; }
  .banner-2-txt h2 { font-size: 4rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.2rem;  margin-bottom: 30px; }
  .banner-2-txt p { font-size: 1.35rem; padding: 0 10%; margin-bottom: 30px; }

  .banner-1-img {  margin: 90px 0; padding-right: 30px; }

  .footer { padding-top: 70px; padding-bottom: 50px; }
  .footer p { font-size: 1.2rem; }

}

@media  (max-width: 700.98px) {
  #nav {
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
  #nav>img{
    height: 100px;
  }

  #nav-2 {
    display: none; /* Hide nav-2 for mobile */
  }

  #nav-3 {
    display: none; /* Hide nav-3 for mobile */
  }

  #left-img,
  #right-img {
    display: none; /* Hide left-img and right-img for mobile */
  }

  #main {
    background-size: 45vh;
  }

  #main h1 {
    font-size: 45px;
    line-height: 60px;
    margin-top: 30vh;
  }

  #main h1 span {
    padding: 0px 30px;
    font-size: 15px;
  }

  h5 {
    top: 5%;
    font-size: 15px;
  }

  i {
    font-size: 15px;
    margin: 15px 2.5px;
    padding: 10px 2.5px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) { 

  .section-title { margin-bottom: 60px; }
  .section-title h2 { font-size: 3.45rem; }
  .section-title p { font-size: 1.25rem; padding: 0 5%; margin: 13px 0 0; }

  #hero { padding: 100px 5%; }
  .hero-txt h3 { font-size: 5.65rem; margin-bottom: -50px!important; }
  .hero-txt h2 { font-size: 4.5rem; margin-bottom: 5px; }
  .hero-txt p { font-size: 1.25rem; padding: 0; margin-bottom: 32px; }

  #services { padding-top: 90px; }
  .sbox-wrapper { padding: 0 4%; }
  .sb-1, .sb-2, .sb-3 { margin-bottom: 40px; }
  .sbox img { width: 70px; height: 70px; }

  .sbox p { margin-top: 25px; }

  #select, #i-pages { padding-top: 90px; padding-bottom: 30px; }

  #banner-1 .container:after { width: 100%; height: 100%; left: 0%; }
  .banner-2-wrapper { padding: 80px 2%; }
  .banner-1-txt { text-align: center; padding: 80px 8%; }

  .banner-1-txt h2 { font-size: 3.45rem; padding: 0 10%; margin-bottom: 10px; }
  .banner-2-txt h2 { font-size: 3.45rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.1875rem;  margin-bottom: 30px; }
  .banner-2-txt p { font-size: 1.25rem; padding: 0 10%; margin-bottom: 30px; }

  .banner-1-img { display: none; }

  .footer { padding-top: 70px; padding-bottom: 50px; }
  .footer p { font-size: 1.2rem; }

}

@media (max-width: 767px) { 

  .section-title { margin-bottom: 60px; }
  #banner-1 .container:after { width: 100%; height: 100%; left: 0%; }

} 

@media (min-width: 480px) and (max-width: 767.98px) { 

  .section-id { font-size: 0.875rem; margin-bottom: 30px; }
  .section-title h2 { font-size: 2.9rem; }
  .section-title p { font-size: 1.15rem; padding: 0; margin: 13px 0 0; }

  #hero { padding: 100px 0; }
  .hero-txt .section-id { font-size: 0.925rem; margin-bottom: 20px; }
  .hero-txt h3 { font-size: 5rem; margin-bottom: -50px!important; }
  .hero-txt h2 { font-size: 4.25rem; line-height: 1.1; margin-bottom: 5px; }
  .hero-txt p { font-size: 1.1875rem; padding: 0 4%; margin-bottom: 32px; }

  #services { padding-top: 80px; }
  .sbox-wrapper { padding: 0 4%; }
  .sb-1, .sb-2, .sb-3, .sb-4 { margin-bottom: 50px; }
  .sbox img { width: 70px; height: 70px; }

  .sbox p { margin-top: 25px; }

  #select, #i-pages { padding-top: 80px; padding-bottom: 30px; }
  #select .col,#i-pages .col { margin-bottom: 40px; }

  .banner-2-wrapper { padding: 80px 0; }
  .banner-1-txt { text-align: center; padding: 80px 3%; }

  .banner-1-txt h2 { font-size: 3rem; padding: 0 5%; margin-bottom: 15px; }
  .banner-2-txt h2 { font-size: 3rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.15rem;  margin-bottom: 30px; }
  .banner-2-txt p { font-size: 1.15rem; padding: 0 10%; margin-bottom: 30px; }

  .banner-1-img { display: none; }

  .footer { padding-top: 60px; padding-bottom: 40px; }
  .footer p { font-size: 1.1rem; }

}

@media (min-width: 414px) and (max-width: 479.98px) {

  .btn { font-size: 0.825rem; padding: 0.9rem 1.65rem; }
  p.tra-link { font-size: 0.9875rem; }

  .section-id { font-size: 0.85rem; margin-bottom: 30px; }
  .section-title { margin-bottom: 45px; }
  .section-title h2 { font-size: 2.75rem; padding: 0 6%; }
  .section-title p { font-size: 1.125rem; padding: 0 3%; margin: 10px 0 0; }

  #hero { padding: 80px 0; }
  .hero-txt .section-id { font-size: 0.85rem; margin-bottom: 20px; }
  .hero-txt h3 { font-size: 4.45rem; margin: 0 -15% -35px!important; }
  .hero-txt h2 { font-size: 3.45rem; line-height: 1.1; margin-bottom: 8px; }
  .hero-txt p { font-size: 1.125rem; padding: 0 6%; margin-bottom: 28px; }

  #services { padding-top: 80px; }
  .sbox-wrapper { padding: 0; }
  .sb-1, .sb-2, .sb-3, .sb-4 { margin-bottom: 40px; }
  .sbox img { width: 68px; height: 68px; }

  .sbox p { margin-top: 20px; }
  .sbox.sb-5 p { padding: 0; }

  #select, #i-pages { padding-top: 80px; padding-bottom: 25px; }
  #select .col,#i-pages .col { margin-bottom: 35px; }

  #banner-2 .container { max-width: 100%; margin: 0; padding: 0; }
  #banner-2 .col { padding: 0; }
  .banner-2-wrapper { padding: 60px 0 70px; }
  .banner-1-txt { text-align: center; padding: 70px 0; }

  .banner-1-txt h2 { font-size: 2.5rem; padding: 0 3%; margin-bottom: 15px; }
  .banner-2-txt h2 { font-size: 2.5rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.125rem; padding: 0 6%; margin-bottom: 25px; }
  .banner-2-txt p { font-size: 1.125rem; padding: 0 10%; margin-bottom: 25px; }

  .banner-1-img { display: none; }

  .footer { padding-top: 60px; padding-bottom: 40px; }
  .footer p { font-size: 1.0625rem; }

}

@media (min-width: 390px) and (max-width: 413.98px) {

  .btn { font-size: 0.825rem; padding: 0.9rem 1.65rem; }
  p.tra-link { font-size: 0.9875rem; }

  .section-id { font-size: 0.85rem; margin-bottom: 30px; }
  .section-title { margin-bottom: 45px; }
  .section-title h2 { font-size: 2.75rem; padding: 0 3%; }
  .section-title p { font-size: 1.125rem; padding: 0; margin: 10px 0 0; }

  #hero { padding: 80px 0; }
  .hero-txt .section-id { font-size: 0.85rem; margin-bottom: 20px; }
  .hero-txt h3 { font-size: 4.25rem; margin: 0 -15% -35px!important; }
  .hero-txt h2 { font-size: 3.25rem; line-height: 1.1; margin-bottom: 8px; }
  .hero-txt p { font-size: 1.125rem; padding: 0 3%; margin-bottom: 28px; }

  #services { padding-top: 80px; }
  .sbox-wrapper { padding: 0%; }
  .sb-1, .sb-2, .sb-3, .sb-4 { margin-bottom: 40px; }
  .sbox img { width: 65px; height: 65px; }

  .sbox p { margin-top: 20px; }
  .sbox.sb-5 p { padding: 0; }

  #select, #i-pages { padding-top: 80px; padding-bottom: 25px; }
  #select .col,#i-pages .col { margin-bottom: 35px; }

  #banner-2 .container { max-width: 100%; margin: 0; padding: 0; }
  #banner-2 .col { padding: 0; }
  .banner-2-wrapper { padding: 60px 0 70px; }
  .banner-1-txt { text-align: center; padding: 70px 0; }

  .banner-1-txt h2 { font-size: 2.5rem; padding: 0 3%; margin-bottom: 15px; }
  .banner-2-txt h2 { font-size: 2.5rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.125rem; padding: 0 4%; margin-bottom: 25px; }
  .banner-2-txt p { font-size: 1.125rem; padding: 0 12%; margin-bottom: 25px; }

  .banner-1-img { display: none; }

  .footer { padding-top: 60px; padding-bottom: 40px; }
  .footer p { font-size: 1.0625rem; }

}

@media (min-width: 321px) and (max-width: 389.98px) {

  .btn { font-size: 0.825rem; padding: 0.9rem 1.65rem; }
  p.tra-link { font-size: 0.965rem; }

  .section-id { font-size: 0.85rem; margin-bottom: 30px; }
  .section-title { margin-bottom: 45px; }
  .section-title h2 { font-size: 2.65rem; }
  .section-title p { font-size: 1.125rem; padding: 0; margin: 10px 0 0; }

  #hero { padding: 80px 0; }
  .hero-txt .section-id { font-size: 0.85rem; margin-bottom: 20px; }
  .hero-txt h3 { font-size: 4.15rem; margin: 0 -15% -35px!important; }
  .hero-txt h2 { font-size: 3.125rem; line-height: 1.1; margin-bottom: 8px; }
  .hero-txt p { font-size: 1.125rem; padding: 0 3%; margin-bottom: 28px; }

  #services { padding-top: 80px; }
  .sbox-wrapper { padding: 0 10%; }
  .sb-1, .sb-2, .sb-3, .sb-4 { margin-bottom: 40px; }
  .sbox img { width: 65px; height: 65px; }

  .sbox p { margin-top: 20px; }
  .sbox.sb-5 p { padding: 0; }

  #select, #i-pages { padding-top: 80px; padding-bottom: 25px; }
  #select .col,#i-pages .col { margin-bottom: 35px; }

  #banner-2 .container { max-width: 100%; margin: 0; padding: 0; }
  #banner-2 .col { padding: 0; }
  .banner-2-wrapper { padding: 60px 0 70px; }
  .banner-1-txt { text-align: center; padding: 70px 0; }

  .banner-1-txt h2 { font-size: 2.35rem; padding: 0 3%; margin-bottom: 15px; }
  .banner-2-txt h2 { font-size: 2.35rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.125rem; padding: 0 2%; margin-bottom: 25px; }
  .banner-2-txt p { font-size: 1.125rem; padding: 0 8%; margin-bottom: 25px; }

  .banner-1-img { display: none; }

  .footer { padding-top: 60px; padding-bottom: 40px; }
  .footer p { font-size: 1.0625rem; }

}

@media (max-width: 320.98px) { 

  .btn { font-size: 0.815rem; padding: 0.9rem 1.65rem; }
  p.tra-link { font-size: 0.935rem; }

  .section-id { font-size: 0.85rem; margin-bottom: 30px; }
  .section-title { margin-bottom: 45px; }
  .section-title h2 { font-size: 2.35rem; }
  .section-title p { font-size: 1.06255rem; padding: 0 2%; margin: 10px 0 0; }

  #hero { padding: 80px 0; }
  .hero-txt .section-id { font-size: 0.85rem; margin-bottom: 20px; }
  .hero-txt h3 { font-size: 4rem; margin: 0 -15% -35px!important; }
  .hero-txt h2 { font-size: 2.85rem; line-height: 1.1; margin-bottom: 12px; }
  .hero-txt p { font-size: 1.0625rem; padding: 0; margin-bottom: 32px; }

  #services { padding-top: 80px; }
  .sbox-wrapper { padding: 0 5%; }
  .sb-1, .sb-2, .sb-3, .sb-4 { margin-bottom: 40px; }
  .sbox img { width: 65px; height: 65px; }

  .sbox p { margin-top: 20px; }
  .sbox.sb-5 p { padding: 0; }

  #select, #i-pages { padding-top: 80px; padding-bottom: 25px; }
  #select .col,#i-pages .col { margin-bottom: 35px; }

  #banner-2 .container { max-width: 100%; margin: 0; padding: 0; }
  #banner-2 .col { padding: 0; }
  .banner-2-wrapper { padding: 60px 0 70px; }
  .banner-1-txt { text-align: center; padding: 70px 0; }

  .banner-1-txt h2 { font-size: 2.1rem; padding: 0; margin-bottom: 15px; }
  .banner-2-txt h2 { font-size: 2.1rem; margin-bottom: 10px; }
  .banner-1-txt p { font-size: 1.0625rem; padding: 0 2%; margin-bottom: 25px; }
  .banner-2-txt p { font-size: 1.06255rem; padding: 0 8%; margin-bottom: 25px; }

  .banner-1-img { display: none; }

  .footer { padding-top: 60px; padding-bottom: 40px; }
  .footer p { font-size: 1.0625rem; }

}

#contact-page{
  background-image: url(./../../background_image.jpg);
  background-size: contain  ;
  background-repeat: no-repeat;
  height: 160vh;
  /* width: 500vh; */
}
@media screen and (max-width: 700px) {
  #contact-page {
    background-image: url(./../../background_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
  }
}

